extends layout

block content
  div.container-fluid.h-100.fill.mt-5
    div.row.justify-content-center.align-items-center.h-75
      div.col.col-md-6.align-middle.shadow-1(style="margin-bottom:3rem")
        img.img-responsive.mx-auto.d-block(src="images/upshare.png")(alt="upez")(style="max-width:20%; margin-top:1rem")

        div.text-center(style="padding-top:1rem; padding-bottom:1rem")
          a.btn.btn-primary(style="margin-right:2rem")(href="register") Register
          a.btn.btn-primary(href="signin") Login

block javascript