doctype html
- const path = "http://localhost:3000"
html
  head
    include skeleton/head
  body
    header
      include skeleton/header

    block content

    footer
      include skeleton/footer

    block javascript


