extends ../layout

block content
    div.container-fluid.h-100.fill.mt-5
        div.row.h-100.justify-content-center.align-items-center
            div.col.col-md-6.align-middle.mb-5
                img.img-responsive.mx-auto.mt-1.d-block(src="images/upshare.png")(alt="upez")(style="max-width:20%")
                form(action="/users/login", method="post")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    div.form-group
                        label.font-weight-bold Login
                        div.input-group.mb-3
                            div.input-group-prepend
                                span.input-group-text
                                    i.material-icons email
                            input.form-control(type="email", name="email", required)
                    div.form-group
                        label.font-weight-bold Password
                        div.input-group.mb-3
                            div.input-group-prepend
                                span.input-group-text
                                    i.material-icons lock
                            input.form-control(type="password", name="password", required)

                    div.d-flex.justify-content-center
                        button.btn.btn-primary.w-auto.mb-3.font-weight-bold(type="submit") SignIn
