extends layout_main

block aside
    li
        button.btn.btn-primary.btn-sm.m-1(type="submit") Upload
        button.btn.btn-primary.btn-sm.m-1(type="submit") Folder
    li.nav-item
        a.nav-link.d-flex.text-dark(href="#")
            i.material-icons.mr-2 folder
            | MyFiles
    li.nav-item
        a.nav-link.d-flex.text-dark(href="#")
            i.material-icons.mr-2 folder_shared
            | SharedFiles
    hr
    li.nav-item
        a.nav-link.d-flex.text-dark(href="#")
            i.material-icons.mr-2 delete
            | Trash

