extends layout_main

block subnavbar
    button.btn.btn-primary.btn-sm.m-1(type="submit") Join
    button.btn.btn-primary.btn-sm.m-1(type="submit") Create

block aside
    li.nav-item
        a.nav-link.d-flex(href="#")
            i.material-icons.mr-2 folder
            | MyGroups
    li.nav-item
        a.nav-link.d-flex(href="#")
            i.material-icons.mr-2 folder_shared
            | SharedFiles
    li.nav-item
        a.nav-link.d-flex(href="#")
            i.material-icons.mr-2 delete
            | Trash