extends ../layout

block content
    div.container-fluid
        div.row
            div.col.bg-success
                block subnavbar
        div.row
            block aside

            block main
                div.col-10.bg-primary
                    h4 tot