extends ../layout

block content
    div.container-fluid.fill.h-100
        div.row
            div.col-12
                block subnavbar
        div.row.mb-1.mt-1
            div.aside.nav#sidebar.col-2
                ul.list-unstyled
                    include aside
            div.main.col-10.mt-5
                block main
                    if(title === 'Files' || title === 'Groups')
                        include layout_table
                    else if(title === 'Help')
                        div#accordion
                            div.card
                                div.card-header#headOne
                                    h5.mb-0
                                        button.btn.btn-link(data-toggle="collapse", data-target="#collapseOne", aria-expanded="true", aria-controls="collapseOne") Carte#1
                                div.collapse.show#collapseOne(aria-labelledby="headingOne", data-parent="#accordion")
                                    div.card-body Loremipsum loremipsum

                                div.card-header#headTwo
                                    h5.mb-0
                                        button.btn.btn-link(data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo") Carte#2
                                div.collapse.show#collapseTwo(aria-labelledby="headingTwo", data-parent="#accordion")
                                    div.card-body Loremipsum loremipsum

                                div.card-header#headThree
                                    h5.mb-0
                                        button.btn.btn-link(data-toggle="collapse", data-target="#collapseThree", aria-expanded="true", aria-controls="collapseThree") Carte#2
                                div.collapse.show#collapseThree(aria-labelledby="headingThree", data-parent="#accordion")
                                    div.card-body Loremipsum loremipsum


    script(src="javascripts/main_layout.js")