extends ../layout

block content
    div.container-fluid.fill.h-100
        div.row
            div.col-12
                block subnavbar
        div.row(style="margin-bottom:0.5rem; margin-top:0.3rem")
                div.aside.nav#sidebar.col-2
                    ul.list-unstyled
                        block aside
                div.main.col-10
                    block main
                        p.shadow-1 folder here
                        p.shadow-1 folder
                        p.shadow-1 folder herechgc
                        p.shadow-1 folder herehgchc
    script(src="javascripts/main_layout.js")