extends ../layout

block content
    div.container-fluid.fill.h-100
        div.row
            div.col-12
                block subnavbar
        div.row.mb-1.mt-1
                block main
                    if(title === 'Files' || title === 'Groups')
                        include aside
                        include table
                    else if(title === 'Help')
                        include help


    script(src="javascripts/main_layout.js")