mixin table-header(header)
    th(scope="col") #{header}

mixin table-row(...rows)
    tr
        th(scope="row")
            if block
                block

            each row in rows
                td(style="vertical-align:middle") #{row}

            td(style="width:15%")
                div.dropdown
                    a.btn.btn-info.btn-sm.dropdown-toggle#btnDrop(role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                        i.material-icons.align-middle settings
                    div.dropdown-menu(aria-labelledby="btnDrop")
                        a.dropdown-item(href="#")
                            i.material-icons.align-middle.mr-2 mode_edit
                            | Edit
                        a.dropdown-item(href="#")
                            i.material-icons.align-middle.mr-2 delete_forever
                            | Remove

mixin table-icon(icon, style)
    i.material-icons(style=style)= icon
div.main.col-md-10.col-12.mt-5.p-0
    div.table-responsive.mb-5(style="border:1px solid #e5e5e5; background-color:#FFFFFF")
        table.table.table-hover.w-100
            thead.thead-inverse.font-weight-normal
                tr
                if(title === 'Files')
                    +table-header("")
                    +table-header("FileName")
                    +table-header("Modified")
                    +table-header("")

                    tbody
                        +table-row("Folder1", "10.04.2017")
                            +table-icon("folder", "vertical-align:middle")
                        +table-row("FolderShared1", "10.04.2017")
                            +table-icon("folder_shared", "vertical-align:middle")
                        +table-row("Folder2", "10.04.2017")
                            +table-icon("folder", "vertical-align:middle")
                        +table-row("File1", "10.04.2017")
                            +table-icon("insert_drive_file", "vertical-align:middle")

                else if(title === 'Groups')
                    +table-header("")
                    +table-header("GroupName")
                    +table-header("Modified")
                    +table-header("")

                    tbody
                        +table-row("OwnedGroup1", "10.04.2017")
                            +table-icon("contacts", "vertical-align:middle")
                        +table-row("GroupShared1", "10.04.2017")
                            +table-icon("group_work", "vertical-align:middle")
                        +table-row("OwnedGroup2", "10.04.2017")
                            +table-icon("contacts", "vertical-align:middle")
                        +table-row("GroupShared2", "10.04.2017")
                            +table-icon("group_work", "vertical-align:middle")