div.container-fluid.bg-dark
    div.row
        div.col
            div.w-100.d-flex.justify-content-center.align-items-center
                span.font-weight-bold.text-primary Powered by Mickael & Lucien