div.container-fluid.mt-5.bg-primary
    div.row
        div.col
            div.w-100.d-flex.justify-content-center.align-items-center
                span.font-weight-bold Powered by Mickael & Lucien