nav.navbar.navbar-expand-lg.navbar-light.bg-primary
    a.navbar-brand(href='/') UpShare
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='#') Files
            li.nav-item
                a.nav-link(href='#') Group
            li.nav-item
                a.nav-link(href='#') Account