nav.navbar.navbar-expand-lg.navbar-light.bg-dark.shadow-1
    a.navbar-brand.text-primary(href='/') UpShare
        i.material-icons.text-primary.align-top swap_vert
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav
            li.nav-item.active
                a.nav-link.text-primary(href='/files') Files
            li.nav-item
                a.nav-link.text-primary(href='/groups') Group
        ul.navbar-nav.ml-auto
            li.nav-item
                i.material-icons.text-primary.align-middle(style="padding-top:0.5rem") account_circle
            li.nav-item
                a.nav-link.text-primary(href='/account') Account
